# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# Environments
.venv/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# IDE
.vscode/
.idea/

